.header1 {
	margin: 0;
	padding: 0;
	/* border: 2px solid red; */
	width: 100%;
	height: 95px !important;
	background-color: black;
}

.header_main1 {
	border: 2px solid whitesmoke !important;
	/* position: absolute; */
	/* width: 100%; */
	left: 0px;
	top: 0px;
	background-color: #ffffff;
	height: 80px;
	display: flex;
	justify-content: space-around;
	flex-direction: auto;
	padding: 5px;
}
.header_main_logo1 img {
	height: 40px;
}
/* 
}

.geast_search button:hover {
	background-color: rgb(241, 229, 229);
} */
/* hover__________________________ */
.geast_search:hover {
	background-color: #f7f7f7;
	cursor: pointer;
}
.setgeast:hover {
	background-color: #f7f7f7;
	cursor: pointer;
}
.sec:hover {
	background-color: #f7f7f7;
	cursor: pointer;
}
.become21:hover {
	cursor: pointer;
}

/* ?__________________________________ */
.header_main1 div:nth-child(1) {
	/* background: red; */
	color: black;
	width: 33%;
}
.header_logo1 {
	font-family: inherit;
	font-size: 100%;
	color: rgb(255, 255, 255) !important;
	width: 102;
	height: 32;
	fill: currentcolor;
	box-sizing: border-box;
	display: block;
	margin: 25px 10px 10px 40px;
}
.header_main div:nth-child(2) {
	/* background: red; */
	width: 33%;
	color: white;
}
.header_main div:nth-child(3) {
	width: 33%;
	/* background: red; */
	color: white;
}

.booking_data {
	margin: auto;
	width: 80%;
	height: 60px;
	background-color: #ffffff;
	display: flex;
	flex-grow: 4;
	border-radius: 80px;
}
.header_input {
	outline: none;
	border: none;
	width: 300px;
	height: 55px;
	border-radius: 80px;
	font-size: 17px;
	padding-left: 17px;
	background-color: transparent;
}
.hr {
	/* overflow: visible;
	text-align: center; */
	width: 29px;
	margin: 8px 0px 0px 23%;
}
.header_text11 {
	display: flex;
	justify-content: space-around;
}
.header_text11 div {
	/* border: 1px solid white; */
	/* padding: 3px; */

	/* pointer-events: auto !important; */
	/* cursor: pointer !important; */
	/* font-family: inherit !important;
	-webkit-tap-highlight-color: transparent !important;
	color: inherit !important;
	text-align: inherit !important;
	box-sizing: border-box;
	display: inline-block !important; */
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 400 !important;
	margin: 20px 80px 0px 0px;
	padding: 10px 16px !important;
}
.booking_data1 div:nth-child(1) {
	/* width: 25%; */
	/* border: 1px solid black; */
	border-radius: 80px;
	/* display: none; */
}

.booking_data1 div:nth-child() {
	/* width: 25%; */
	/* border: 1px solid black; */
	border-radius: 80px;
	text-align: center;
}
.booking_data1 div:nth-child(3) {
	width: 25%;
	/* border: 1px solid black; */
	border-radius: 80px;
	text-align: center;
}
.booking_data1 div:nth-child() {
	width: 25%;
	/* border: 1px solid black; */
	border-radius: 80px;
	text-align: center;
}

.sec {
	width: 25%;
	/* border: 1px solid black; */
	border-radius: 80px;
	text-align: center;
	border-bottom: none !important;
	text-decoration: none;
	/* display: none; */
}
.remove {
	display: none;
	margin-left: 7px;
	padding: 0;
	border-bottom: none !important;
	text-decoration: none;
}

.geast {
	/* border: 1px solid black; */
	height: 300px;
	width: 300px;
	border-radius: 30px;
	padding: 16px 32px;
	margin: -45px 0px 50px 67%;
	background-color: #ffffff;
	position: absolute;
}
.geast_search {
	width: 25%;
	/* border: 1px solid black; */
	border-radius: 80px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.geast_button {
	/* border: 1px solid red; */
	border: none !important;
	background-color: transparent;
	font-size: 17px;
	cursor: pointer;
}
.search {
	/* text-align: center; */
	font-size: 16px;
	/* margin: 5px -15px 5px 29px; */
	padding: 10px 3px 0px 3px;
	/* border: 1px solid green; */
	width: 112px;
	border-radius: 80px;
	height: 40px;
	color: #ffffff;
	background: linear-gradient(
		270deg,
		#d90865 -19.13%,
		#e41d5a 62%,
		#e61e4d 122.37%
	);
}
.search_svg {
	border: none;
	font-size: 14px;
	margin: 5px 7px -4px 5px;
	/* position: absolute; */
}
.header1 {
	background-color: whitesmoke;
}
.adult {
	display: flex;
	justify-content: space-between;
}
.calculation {
	/* border: 1px dotted black; */
	display: flex;
	justify-content: space-around;
	font-size: 25px;
	margin: 7px;
	/* width: 70px; */
}
.plus {
	border-radius: 50px;
	/* border: 0.5px solid black; */
	border: none !important;
	height: 25px;
	width: 25px;
	font-weight: bold;
	font-size: 15px;
	/* text-align: center; */
	margin: 10px 10px 10px 10px;
	outline: none;
	cursor: pointer;
}
.text {
	color: #717171;
	/* font-family: SF UI Display; */
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
}
.header_inp_div {
	display: none;
}
.add_geast {
	color: #a2a2a2;
	font-size: 14px;
}
.become12 {
	display: flex;
	justify-content: flex-end;
}
.become11 {
	/* border: 1px solid green !important; */
	margin: 27px 0px 10px 20px;
	width: 200px !important;
}
.fix51 {
	margin: 8px 0px 0px 40px;
	padding: 0px 0px 0px 0px;
}
.online_s1 {
	border: 2px solid #f8f8f8;
	height: 25px;
	width: 300px !important;
	cursor: pointer;
	border-radius: 40px !important;
}
.svghost {
	margin: 0px 0px -5px 40px;
}
.fix_se1 {
	margin: 27px 90px 0 -130px;
	cursor: pointer;
}

.become21 {
	border: 2px solid #f7f7f7;
	text-align: right;
	border-radius: 80px;
	background-color: #ffffff;
	color: #ffffff !important;
	width: 76px !important;
	height: 43px;
	display: flex;
	padding: 2px;
	margin: 15px 0px 10px 50px;
}
.login_svg11 {
	margin: 13px 0px 3px -15px;
	color: #000000;
	width: 16px;
	height: 16px;
}
.login_svg21 {
	margin: 7px 3px 3px 5px;
	width: 26.67px;
	height: 26.67px;

	color: #333333;
}
.signdetail1 {
	border: 2px solid #f7f7f7;
	height: 200px;
	width: 200px;
	border-radius: 25px;
	font-size: 16px;
	margin: 0px 10px 0px 86% !important;
	position: absolute;
	padding: 5px;
	background-color: #ffffff;
}
.signdetail div {
	margin: 5px 5px 5px 12px;
	color: rgb(87, 84, 84);
}
.signdetail div:hover {
	/* background-color: #f7f7f7; */
	color: black;
	cursor: pointer;
}
.signdetail hr {
	/* margin: 5px 5px 5px 12px; */
	width: 90%;
	color: rgb(87, 84, 84);
}
.fix1 {
	color: #717171;
	font-size: 14px;
}
.fix2 {
	font-size: 20px !important;
	margin: 6px 0px 0px 0px;
}
